.allbanktable{
    width: 100%;
    background-color: aliceblue;
}

.allbanktable th{
    border: 2px;
    font-size: 20px;
    text-align: center;
    border-right: 1px solid #b5b7bb;
}

.allbanktable tr{
    border-bottom: 1px solid #b5b7bb;
    border-right: 1px solid #b5b7bb;
    font-size: 20px;
}

.allbanktable thead{
    border-bottom: 2px solid #b5b7bb;
}

.allbanktable td{
    border: 2px;
    font-size: 18px;
    text-align: center;
    padding: 5px 40px;
    border-right: 1px solid #b5b7bb;
}

.allbanktable tbody{
    border-bottom: 2px solid #b5b7bb;
}



